.creator-cards{
    box-shadow: 0px 1px 3px rgba(69, 69, 69, 0.25);
    border-radius: 4px;
}

.creator-cards .creator-info{
    padding: 10px 0;
    text-align: center;
}

.creator-cards img{
    height: 270px;
    max-width: 280px;
    min-width: 230px;
}
.creator-cards h5:hover,.creator-cards h3:hover{
    color: #FF6584;
}