*{
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #32322349;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #32322349;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #32322349;
}